<div class="left-sidebar">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li class="nav-label">Home</li>
                <li>
                    <a href="/dashboard" aria-expanded="false">
                        <i class="fa fa-tachometer"></i>
                        <span class="hide-menu">Dashboard </span>
                    </a>
                </li>
                <li class="nav-label">Apps</li>
                <li>
                    <a href="/storage" aria-expanded="false">
                        <i class="fa fa-database"></i>
                        <span class="hide-menu">Storage</span>
                    </a>
                </li>
                <li>
                    <a href="/processes" aria-expanded="false">
                        <i class="fa fa-bar-chart"></i>
                        <span class="hide-menu">Processes</span>
                    </a>
                </li>
                <li>
                    <a href="/login" aria-expanded="false">
                        <i class="fa fa-lock"></i>
                        <span class="hide-menu">Last Login</span>
                    </a>
                </li>
            <li>
                <li>
                    <a href="/network" aria-expanded="false">
                        <i class="fa fa-signal"></i>
                        <span class="hide-menu">Network</span>
                    </a>
                </li>
                <li class="nav-label">Management</li>
                <li>
                    <a href="/security" aria-expanded="false">
                        <i class="fa fa-shield"></i>
                        <span class="hide-menu">Security</span>
                    </a>
                </li>
                <li class="nav-label">Montior</li>
                <li>
                    <a href="/waf" aria-expanded="false">
                        <i class="bi bi-bricks"></i>
                        <span class="hide-menu">Web Application Firewall</span>
                    </a>
                </li>
                <li>
                    <a href="/ids" aria-expanded="false">
                        <i class="bi bi-shield-exclamation"></i>
                        <span class="hide-menu">Intrusion Detetion System</span>
                    </a>
                </li>
                <li class="nav-label">Logout</li>
                <li>
                    <a href="/logout" aria-expanded="false">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        <span class="hide-menu">Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
