requests~=2.25.1
requests_oauthlib
psutil~=5.8.0
flask~=1.1.4
flask_cors
pynput~=1.7.3
python-telegram-bot
twilio~=6.59.0
scapy~=2.4.5
NetfilterQueue~=0.8.1
boto3~=1.17.82
geocoder~=1.38.1
pathlib~=1.0.1
wget~=3.2
yara-python
clamd~=1.0.2
beautifulsoup4~=4.9.3
pyudev~=0.22.0
lxml
ipwhois~=1.2.0
shodan~=1.25.0
future
distro~=1.5.0
rust
cython
setuptools~=57.0.0
Werkzeug~=1.0.1
py-cpuinfo~=8.0.0
certauth~=1.3.0
pandas~=1.3.0
numpy~=1.21.0
scikit-learn~=0.24.2
botocore~=1.20.82
textblob
html2text