APScheduler>=3.6.3
asgiref>=3.5.2
beautifulsoup4>=4.11.1
bidict>=0.22.0
biopython>=1.79
boto3>=1.24.18
botocore>=1.27.19
cachetools>=4.2.2
certauth>=1.3.0
certifi>=2022.6.15
cffi>=1.15.0
charset-normalizer>=2.0.12
clamd>=1.0.2
click>=8.1.3
click-plugins>=1.1.1
colorama>=0.4.5
cryptography>=37.0.2
cycler>=0.11.0
Cython>=0.29.30
decorator>=5.1.1
distro>=1.7.0
django>=4.0.5
djangorestframework>=3.13.1
dnspython>=2.0.0
evdev>=1.5.0
filelock>=3.7.1
Flask>=2.1.2
Flask-Cors>=3.0.10
Flask-SocketIO>=5.2.0
Flask-SQLAlchemy>=2.5.1
fonttools>=4.33.3
future>=0.18.2
geocoder>=1.38.1
greenlet>=1.1.2
html2text>=2020.1.16
idna>=3.3
ipwhois>=1.2.0
itsdangerous>=2.1.2
Jinja2>=3.1.2
jmespath>=1.0.1
joblib>=1.1.0
kiwisolver>=1.4.3
lxml>=4.9.0
MarkupSafe>=2.1.1
matplotlib>=3.5.2
mock>=1.0.1
NetfilterQueue>=1.0.0
nltk>=3.7
numpy>=1.23.0
oauthlib>=3.2.0
packaging>=21.3
pandas>=1.4.3
pathlib>=1.0.1
Pillow>=9.1.1
psutil>=5.9.1
py-cpuinfo>=8.0.0
pycparser>=2.21
PyJWT>=2.4.0
pynput>=1.7.6
pyOpenSSL>=22.0.0
pyparsing>=3.0.9
pysam>=0.19.1
python-dateutil>=2.8.2
python-engineio>=4.3.2
python-socketio>=5.6.0
python-telegram-bot>=13.13
python-xlib>=0.31
pytz>=2022.1
pytz-deprecation-shim>=0.1.0.post0
pyudev>=0.23.2
ratelim>=0.1.6
regex>=2022.6.2
requests>=2.28.0
requests-file>=1.5.1
requests-oauthlib>=1.3.1
RUST>=0.1.1
s3transfer>=0.6.0
scapy>=2.4.5
scikit-learn>=1.1.1
scipy>=1.8.1
shodan>=1.27.0
six>=1.16.0
soupsieve>=2.3.2.post1
SQLAlchemy>=1.4.39
sqlparse>=0.4.2
textblob>=0.17.1
threadpoolctl>=3.1.0
tldextract>=3.3.0
tornado>=6.1
tqdm>=4.64.0
twilio>=7.9.3
tzdata>=2022.1
tzlocal>=4.2
urllib3>=1.26.9
uvloop>=0.16.0
Werkzeug>=2.1.2
wget>=3.2
XlsxWriter>=3.0.3
yara-python>=4.2.0
tensorflow>=2.12.0