<div id="main-wrapper">
    <div class="header">
        <app-header></app-header>
    </div>
    <app-sidebar></app-sidebar>
    <div class="page-wrapper">
        <div class="row page-titles pt-2 pb-1 mb-1">
            <div class="col-md-5 align-self-center">
          <h1 class="text-primary head-1">Security</h1>
      </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href='/dashboard'>Home</a></li>
                    <li class="breadcrumb-item active">security</li>
                </ol>
            </div>
        </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body p-0">
              <div id="startForm">
                <form [formGroup]="notificationsForm" (ngSubmit)="Submit()">
                    <h1 class="card-title">Twitter Notification</h1>
                    <h3 class="card-subtitle">Notification to twitter</h3>
                        <div class="form-group">
                            <label>API key</label>
                            <input type="text" class="form-control" formControlName="twitter_apikey" placeholder="xxxx-xxxx-xxxx-xxxx"/>
                        </div>
                        <div class="form-group">
                            <label>API secret key</label>
                            <input type="text" class="form-control" formControlName="twitter_apiSecret" placeholder="xxxx-xxxx-xxxx-xxxx"/>
                        </div>
                        <div class="form-group">
                            <label>Access token</label>
                            <input type="text" class="form-control" formControlName="twitter_token" placeholder="xxxx-xxxx-xxxx-xxxx"/>
                        </div>
                        <div class="form-group">
                            <label>Access token secret</label>
                            <input type="text" class="form-control" formControlName="twitter_tokenSecret" placeholder="xxxx-xxxx-xxxx-xxxx"/>
                        </div>
                    <hr style="border-width:2px">
                    <h1 class="card-title">Telegram Notification</h1>
                    <h3 class="card-subtitle">Notification to telegram</h3>
                        <div class="form-group">
                            <label>Token</label>
                            <input type="text" class="form-control" formControlName="telegram_token" placeholder="xxxx-xxxx-xxxx-xxxx"/>
                        </div>
                        <div class="form-group">
                            <label>User Id</label>
                            <input type="text" class="form-control" formControlName="telegram_userId" placeholder="xxxx-xxxx-xxxx-xxxx"/>
                        </div>
                    <hr style="border-width:2px">
                    <h1 class="card-title">Twilio Notification</h1>
                    <h3 class="card-subtitle">Notification to twilio</h3>
                        <div class="form-group">
                            <label>SID</label>
                            <input type="text" class="form-control" formControlName="twilio_sid" placeholder="xxxx-xxxx-xxxx-xxxx"/>
                        </div>
                        <div class="form-group">
                            <label>Token</label>
                            <input type="text" class="form-control" formControlName="twilio_token" placeholder="xxxx-xxxx-xxxx-xxxx"/>
                        </div>
                        <div class="form-group">
                            <label>From</label>
                            <input type="text" class="form-control" formControlName="twilio_from" placeholder="xxxx-xxxx-xxxx-xxxx"/>
                        </div>
                        <div class="form-group">
                            <label>To</label>
                            <input type="text" class="form-control" formControlName="twilio_to" placeholder="xxxx-xxxx-xxxx-xxxx"/>
                        </div>
                    <hr style="border-width:2px">
                    <h1 class="card-title">Slack Notification</h1>
                    <h3 class="card-subtitle">Notification to slack</h3>
                        <div class="form-group">
                            <label>Token</label>
                            <input type="text" class="form-control" formControlName="slack_token" placeholder="xxxx-xxxx-xxxx-xxxx"/>
                        </div>
                        <div class="form-group">
                            <label>User Id</label>
                            <input type="text" class="form-control" formControlName="slack_userId" placeholder="xxxx-xxxx-xxxx-xxxx"/>
                        </div>
                    <hr style="border-width:2px">
                    <h1 class="card-title">AWS SES Notification</h1>
                    <h3 class="card-subtitle">Notification to mail</h3>
                        <div class="form-group">
                            <label>Verified Email Id</label>
                            <input type="text" class="form-control" formControlName="aws_email" placeholder="xxxx-xxxx-xxxx-xxxx"/>
                        </div>
                        <div class="form-group">
                            <label>SES Access Key</label>
                            <input type="text" class="form-control" formControlName="aws_accessKey" placeholder="xxxx-xxxx-xxxx-xxxx"/>
                        </div>
                        <div class="form-group">
                            <label>SES Secret Key</label>
                            <input type="text" class="form-control" formControlName="aws_secretKey" placeholder="xxxx-xxxx-xxxx-xxxx"/>
                        </div>
                        <hr style="border-width:2px">
                        <h1 class="card-title">Gmail Notification</h1>
                        <h3 class="card-subtitle">Notification to Gmail account</h3>
                            <div class="form-group">
                                <label>Sender E-mail</label>
                                <input type="text" class="form-control" formControlName="sender_email" placeholder="xxxx-xxxx-xxxx-xxxx"/>
                            </div>
                            <div class="form-group">
                                <label>To E-mail</label>
                                <input type="text" class="form-control" formControlName="to_email" placeholder="xxxx-xxxx-xxxx-xxxx"/>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" formControlName="password" placeholder="xxxx-xxxx-xxxx-xxxx"/>
                            </div>
                    <!-- AntiVirus -->
                    <hr style="border-width:2px">
                    <div class="form-group">
                        <div class="col-12">
                          <div class="row">
                            <h1 class="card-title">AntiVirus</h1>
                          <label class="switch">
                            <input type="checkbox" (change)="toggleVisibility($event)" class="form-control" formControlName="antivirus" checked/>
                            <span class="slider round"></span>
                          </label>
                          </div>
                        </div>
                      </div>
                      <h3 class="card-subtitle">Configure AntiVirus</h3>

                      <div class="form-group">
                          <label>Custom scan path</label>
                          <input type="text" class="form-control" formControlName="custom_scan" placeholder="Leave blank for full scan"/>
                      </div>

                      <div class="form-group">
                          <label>Virus Total API key</label>
                          <input type="text" class="form-control" formControlName="virustotal_api_key" placeholder="xxxx-xxxx-xxxx-xxxx"/>
                      </div>

                      <div class="form-group">
                          <div class="col-12">
                            <div class="row">
                            <label>Automatic updates</label>
                            <label class="switch">
                              <input type="checkbox" (change)="toggleVisibility($event)" class="form-control" formControlName="update" checked/>
                              <span class="slider round"></span>
                            </label>
                            </div>
                          </div>
                      </div>

                      <div class="form-group">
                        <div class="col-12">
                            <div class="row">
                            <label>Automatically clean malicious files</label>
                            <label class="switch">
                              <input type="checkbox" (change)="toggleVisibility($event)" class="form-control" formControlName="auto_delete" checked/>
                              <span class="slider round"></span>
                            </label>
                            </div>
                          </div>
                      </div>

                    <div class="form-group">
                        <div class="col-12">
                          <div class="row">
                          <label>Monitor USB devices</label>
                          <label class="switch">
                            <input type="checkbox" (change)="toggleVisibility($event)" class="form-control" formControlName="monitor_usb" checked/>
                            <span class="slider round"></span>
                          </label>
                          </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-12">
                          <div class="row">
                          <label>Monitor file modifications real-time (CPU intensive)</label>
                          <label class="switch">
                            <input type="checkbox" (change)="toggleVisibility($event)" class="form-control" formControlName="monitor_file_changes" checked/>
                            <span class="slider round"></span>
                          </label>
                          </div>
                        </div>
                    </div>
                    <!-- Auto Server Patcher -->
                    <hr style="border-width:2px">
                    <div class="form-group">
                        <div class="col-12">
                          <div class="row">
                            <h1 class="card-title">Auto Server Patcher</h1>
                          <label class="switch">
                            <input type="checkbox" (change)="toggleVisibility($event)" class="form-control" formControlName="asp" checked/>
                            <span class="slider round"></span>
                          </label>
                          </div>
                        </div>
                      </div>
                      <h3 class="card-subtitle">Configure Auto Server Patcher</h3>

                      <div class="form-group">
                          <label>Scan for SSL vulnerability</label>
                          <input type="text" class="form-control" formControlName="sslvuln" placeholder="Enter URL to scan, else leave blank for no scan"/>
                      </div>

                      <div class="form-group">
                          <div class="col-12">
                            <div class="row">
                            <label>Patch apache configuration</label>
                            <label class="switch">
                              <input type="checkbox" (change)="toggleVisibility($event)" class="form-control" formControlName="apache" checked/>
                              <span class="slider round"></span>
                            </label>
                            </div>
                          </div>
                      </div>

                      <div class="form-group">
                        <div class="col-12">
                            <div class="row">
                            <label>Patch system configuration</label>
                            <label class="switch">
                              <input type="checkbox" (change)="toggleVisibility($event)" class="form-control" formControlName="sysctl" checked/>
                              <span class="slider round"></span>
                            </label>
                            </div>
                          </div>
                      </div>

                    <div class="form-group">
                        <div class="col-12">
                          <div class="row">
                          <label>Patch login configuration</label>
                          <label class="switch">
                            <input type="checkbox" (change)="toggleVisibility($event)" class="form-control" formControlName="login" checked/>
                            <span class="slider round"></span>
                          </label>
                          </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-12">
                          <div class="row">
                          <label>Patch SSH configuration</label>
                          <label class="switch">
                            <input type="checkbox" (change)="toggleVisibility($event)" class="form-control" formControlName="ssh" checked/>
                            <span class="slider round"></span>
                          </label>
                          </div>
                        </div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary m-b-10 pull-right" >Secure</button>
                </form>
                <div class="error">
                    {{ error }}
                </div>
              </div>
              <div id="stopForm">
                  <button (click)="Stop()" class="btn btn-primary m-b-10 pull-right">Stop</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
