<div id="main-wrapper">
    <div class="header">
        <app-header></app-header>
    </div>
    <app-sidebar></app-sidebar>
    <div class="page-wrapper">
        <div class="row page-titles pt-2 pb-1 mb-1">
            <div class="col-md-5 align-self-center">
          <h1 class="text-primary head-1">Security</h1>
      </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href='/dashboard'>Home</a></li>
                    <li class="breadcrumb-item active">security</li>
                </ol>
            </div>
        </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body p-0">
              <div id="startForm">
                <form [formGroup]="notificationsForm" (ngSubmit)="Submit()">
                    <h1 class="card-title">Twitter Notification</h1>
                    <h3 class="card-subtitle">Notification to twitter</h3>
                        <div class="form-group">
                            <label>API key</label>
                            <input type="text" class="form-control" formControlName="twitter_apikey" placeholder="xxxx-xxxx-xxxx-xxxx"/>
                        </div>
                        <div class="form-group">
                            <label>API secret key</label>
                            <input type="text" class="form-control" formControlName="twitter_apiSecret" placeholder="xxxx-xxxx-xxxx-xxxx"/>
                        </div>
                        <div class="form-group">
                            <label>Access token</label>
                            <input type="text" class="form-control" formControlName="twitter_token" placeholder="xxxx-xxxx-xxxx-xxxx"/>
                        </div>
                        <div class="form-group">
                            <label>Access token secret</label>
                            <input type="text" class="form-control" formControlName="twitter_tokenSecret" placeholder="xxxx-xxxx-xxxx-xxxx"/>
                        </div>
                    <hr style="border-width:2px">
                    <h1 class="card-title">Telegram Notification</h1>
                    <h3 class="card-subtitle">Notification to telegram</h3>
                        <div class="form-group">
                            <label>Token</label>
                            <input type="text" class="form-control" formControlName="telegram_token" placeholder="xxxx-xxxx-xxxx-xxxx"/>
                        </div>
                        <div class="form-group">
                            <label>User Id</label>
                            <input type="text" class="form-control" formControlName="telegram_userId" placeholder="xxxx-xxxx-xxxx-xxxx"/>
                        </div>
                    <hr style="border-width:2px">
                    <h1 class="card-title">Twilio Notification</h1>
                    <h3 class="card-subtitle">Notification to twilio</h3>
                        <div class="form-group">
                            <label>SID</label>
                            <input type="text" class="form-control" formControlName="twilio_sid" placeholder="xxxx-xxxx-xxxx-xxxx"/>
                        </div>
                        <div class="form-group">
                            <label>Token</label>
                            <input type="text" class="form-control" formControlName="twilio_token" placeholder="xxxx-xxxx-xxxx-xxxx"/>
                        </div>
                        <div class="form-group">
                            <label>From</label>
                            <input type="text" class="form-control" formControlName="twilio_from" placeholder="xxxx-xxxx-xxxx-xxxx"/>
                        </div>
                        <div class="form-group">
                            <label>To</label>
                            <input type="text" class="form-control" formControlName="twilio_to" placeholder="xxxx-xxxx-xxxx-xxxx"/>
                        </div>
                    <hr style="border-width:2px">
                    <h1 class="card-title">Slack Notification</h1>
                    <h3 class="card-subtitle">Notification to slack</h3>
                        <div class="form-group">
                            <label>Token</label>
                            <input type="text" class="form-control" formControlName="slack_token" placeholder="xxxx-xxxx-xxxx-xxxx"/>
                        </div>
                        <div class="form-group">
                            <label>User Id</label>
                            <input type="text" class="form-control" formControlName="slack_userId" placeholder="xxxx-xxxx-xxxx-xxxx"/>
                        </div>
                    <hr style="border-width:2px">
                    <h1 class="card-title">AWS SES Notification</h1>
                    <h3 class="card-subtitle">Notification to mail</h3>
                        <div class="form-group">
                            <label>Verified Email Id</label>
                            <input type="text" class="form-control" formControlName="aws_email" placeholder="xxxx-xxxx-xxxx-xxxx"/>
                        </div>
                        <div class="form-group">
                            <label>SES Access Key</label>
                            <input type="text" class="form-control" formControlName="aws_accessKey" placeholder="xxxx-xxxx-xxxx-xxxx"/>
                        </div>
                        <div class="form-group">
                            <label>SES Secret Key</label>
                            <input type="text" class="form-control" formControlName="aws_secretKey" placeholder="xxxx-xxxx-xxxx-xxxx"/>
                        </div>
                        <hr style="border-width:2px">
                        <h1 class="card-title">Gmail Notification</h1>
                        <h3 class="card-subtitle">Notification to Gmail account</h3>
                            <div class="form-group">
                                <label>Sender E-mail</label>
                                <input type="text" class="form-control" formControlName="sender_email" placeholder="xxxx-xxxx-xxxx-xxxx"/>
                            </div>
                            <div class="form-group">
                                <label>To E-mail</label>
                                <input type="text" class="form-control" formControlName="to_email" placeholder="xxxx-xxxx-xxxx-xxxx"/>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" formControlName="password" placeholder="xxxx-xxxx-xxxx-xxxx"/>
                            </div>
                    <!-- AntiVirus -->
                    <hr style="border-width:2px">
                    <div class="form-group">
                        <div class="col-12">
                          <div class="row">
                            <h1 class="card-title">AntiVirus</h1>
                          <label class="switch">
                            <input type="checkbox" (change)="toggleVisibility($event)" class="form-control" formControlName="antivirus" checked/>
                            <span class="slider round"></span>
                          </label>
                          </div>
                        </div>
                      </div>
                      <h3 class="card-subtitle">Configure AntiVirus</h3>

                      <div class="form-group">
                          <label>Custom scan path</label>
                          <input type="text" class="form-control" formControlName="custom_scan" placeholder="Leave blank for full scan"/>
                      </div>

                      <div class="form-group">
                          <label>Virus Total API key</label>
                          <input type="text" class="form-control" formControlName="virustotal_api_key" placeholder="xxxx-xxxx-xxxx-xxxx"/>
                      </div>

                      <div class="form-group">
                          <div class="col-12">
                            <div class="row">
                            <label>Automatic updates</label>
                            <label class="switch">
                              <input type="checkbox" (change)="toggleVisibility($event)" class="form-control" formControlName="update" checked/>
                              <span class="slider round"></span>
                            </label>
                            </div>
                          </div>
                      </div>

                      <div class="form-group">
                        <div class="col-12">
                            <div class="row">
                            <label>Automatically clean malicious files</label>
                            <label class="switch">
                              <input type="checkbox" (change)="toggleVisibility($event)" class="form-control" formControlName="auto_delete" checked/>
                              <span class="slider round"></span>
                            </label>
                            </div>
                          </div>
                      </div>

                    <div class="form-group">
                        <div class="col-12">
                          <div class="row">
                          <label>Monitor USB devices</label>
                          <label class="switch">
                            <input type="checkbox" (change)="toggleVisibility($event)" class="form-control" formControlName="monitor_usb" checked/>
                            <span class="slider round"></span>
                          </label>
                          </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-12">
                          <div class="row">
                          <label>Monitor file modifications real-time (CPU intensive)</label>
                          <label class="switch">
                            <input type="checkbox" (change)="toggleVisibility($event)" class="form-control" formControlName="monitor_file_changes" checked/>
                            <span class="slider round"></span>
                          </label>
                          </div>
                        </div>
                    </div>
                    <!-- Auto Server Patcher -->
                    <hr style="border-width:2px">
                    <div class="form-group">
                        <div class="col-12">
                          <div class="row">
                            <h1 class="card-title">Auto Server Patcher</h1>
                          <label class="switch">
                            <input type="checkbox" (change)="toggleVisibility($event)" class="form-control" formControlName="asp" checked/>
                            <span class="slider round"></span>
                          </label>
                          </div>
                        </div>
                      </div>
                      <h3 class="card-subtitle">Configure Auto Server Patcher</h3>

                      <div class="form-group">
                          <label>Scan for SSL vulnerability</label>
                          <input type="text" class="form-control" formControlName="sslvuln" placeholder="Enter URL to scan, else leave blank for no scan"/>
                      </div>

                      <div class="form-group">
                          <div class="col-12">
                            <div class="row">
                            <label>Patch apache configuration</label>
                            <label class="switch">
                              <input type="checkbox" (change)="toggleVisibility($event)" class="form-control" formControlName="apache" checked/>
                              <span class="slider round"></span>
                            </label>
                            </div>
                          </div>
                      </div>

                      <div class="form-group">
                        <div class="col-12">
                            <div class="row">
                            <label>Patch system configuration</label>
                            <label class="switch">
                              <input type="checkbox" (change)="toggleVisibility($event)" class="form-control" formControlName="sysctl" checked/>
                              <span class="slider round"></span>
                            </label>
                            </div>
                          </div>
                      </div>

                    <div class="form-group">
                        <div class="col-12">
                          <div class="row">
                          <label>Patch login configuration</label>
                          <label class="switch">
                            <input type="checkbox" (change)="toggleVisibility($event)" class="form-control" formControlName="login" checked/>
                            <span class="slider round"></span>
                          </label>
                          </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-12">
                          <div class="row">
                          <label>Patch SSH configuration</label>
                          <label class="switch">
                            <input type="checkbox" (change)="toggleVisibility($event)" class="form-control" formControlName="ssh" checked/>
                            <span class="slider round"></span>
                          </label>
                          </div>
                        </div>
                    </div>
                    <!-- System Log Monitor -->
                    <hr style="border-width:2px">
                    <div class="form-group">
                        <div class="col-12">
                          <div class="row">
                            <h1 class="card-title">System Log Monitor</h1>
                          <label class="switch">
                            <input type="checkbox" (change)="toggleVisibility($event)" class="form-control" formControlName="sys_log" checked/>
                            <span class="slider round"></span>
                          </label>
                          </div>
                        </div>
                      </div>
                      <h3 class="card-subtitle">System Log Monitor needs no configuration, toggle right to start</h3>
                      <!-- Firewall -->
                      <hr style="border-width:2px">
                      <div class="form-group">
                          <div class="col-12">
                            <div class="row">
                              <h1 class="card-title">Firewall</h1>
                            <label class="switch">
                              <input type="checkbox" (change)="toggleVisibility($event)" class="form-control" formControlName="firewall" checked/>
                              <span class="slider round"></span>
                            </label>
                            </div>
                          </div>
                        </div>
                        <h3 class="card-subtitle">Configure Firewall</h3>
                        <!-- Firewall configuration box -->
                        <div class="form-group">
                            <label>Name of the interface</label>
                            <input type="text" class="form-control" formControlName="interface" placeholder="Leave blank to auto-detect"/>
                        </div>
                        <div class="form-group">
                            <label>Inbound IPs</label>
                            <input type="text" class="form-control" formControlName="ip_inbound" placeholder="List of inbound IPs to allow or filter, e.g. 1.1.1.1, 2.2.2.2"/>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                              <div class="row">
                              <label>Allow</label>
                              <label class="switch">
                                <input type="checkbox" (change)="toggleVisibility($event)" class="form-control" formControlName="inbound_action" checked/>
                                <span class="slider round"></span>
                              </label>
                              </div>
                            </div>
                        </div>
                        <hr style="border-width:1px">
                        <!-- Firewall configuration box -->
                        <div class="form-group">
                            <label>Outbound IPs</label>
                            <input type="text" class="form-control" formControlName="ip_outbound" placeholder="List of outbound IPs to allow or filter, e.g. 1.1.1.1, 2.2.2.2"/>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                              <div class="row">
                              <label>Allow</label>
                              <label class="switch">
                                <input type="checkbox" (change)="toggleVisibility($event)" class="form-control" formControlName="outbound_action" checked/>
                                <span class="slider round"></span>
                              </label>
                              </div>
                            </div>
                        </div>
                        <hr style="border-width:1px">
                        <!-- Firewall configuration box -->
                        <div class="form-group">
                            <label>Protocols</label>
                            <input type="text" class="form-control" formControlName="protocols" placeholder="List of protocols to allow or filter, e.g. ICMP, UDP"/>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                              <div class="row">
                              <label>Allow</label>
                              <label class="switch">
                                <input type="checkbox" (change)="toggleVisibility($event)" class="form-control" formControlName="protocol_action" checked/>
                                <span class="slider round"></span>
                              </label>
                              </div>
                            </div>
                        </div>
                        <hr style="border-width:1px">
                        <!-- Firewall configuration box -->
                        <div class="form-group">
                            <label>Downloaded file extensions to scan for</label>
                            <input type="text" class="form-control" formControlName="extensions" placeholder="Files extensions to allow or filter, e.g. .exe, .mp3"/>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                              <div class="row">
                              <label>Allow</label>
                              <label class="switch">
                                <input type="checkbox" (change)="toggleVisibility($event)" class="form-control" formControlName="scan_load_action" checked/>
                                <span class="slider round"></span>
                              </label>
                              </div>
                            </div>
                        </div>
                        <hr style="border-width:1px">
                        <!-- Firewall configuration box -->
                        <div class="form-group">
                            <label>Source ports</label>
                            <input type="text" class="form-control" formControlName="sports" placeholder="List of source ports to allow or filter e.g. 80, 443"/>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                              <div class="row">
                              <label>Allow</label>
                              <label class="switch">
                                <input type="checkbox" (change)="toggleVisibility($event)" class="form-control" formControlName="sports_action" checked/>
                                <span class="slider round"></span>
                              </label>
                              </div>
                            </div>
                        </div>
                        <hr style="border-width:1px">
                        <!-- Firewall configuration box -->
                        <div class="form-group">
                            <label>Destination ports</label>
                            <input type="text" class="form-control" formControlName="dest_ports" placeholder="List of destination ports to allow or filter e.g. 80, 443"/>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                              <div class="row">
                              <label>Allow</label>
                              <label class="switch">
                                <input type="checkbox" (change)="toggleVisibility($event)" class="form-control" formControlName="dest_ports_action" checked/>
                                <span class="slider round"></span>
                              </label>
                              </div>
                            </div>
                        </div>
                        <hr style="border-width:1px">
                        <!-- Firewall configuration box -->
                        <div class="form-group">
                            <label>Domain Name System (DNS)</label>
                            <input type="text" class="form-control" formControlName="dns" placeholder="List of DNS to allow or filter e.g. mail.google.com"/>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                              <div class="row">
                              <label>Allow</label>
                              <label class="switch">
                                <input type="checkbox" (change)="toggleVisibility($event)" class="form-control" formControlName="dns_action" checked/>
                                <span class="slider round"></span>
                              </label>
                              </div>
                            </div>
                        </div>
                        <hr style="border-width:1px">
                        <!-- Firewall configuration box -->
                        <div class="form-group">
                            <label>Time upper bound</label>
                            <input type="text" class="form-control" formControlName="time_ub" placeholder="Upper bound time limit to allow connection e.g. 23:59"/>
                        </div>
                        <div class="form-group">
                            <label>Time lower bound</label>
                            <input type="text" class="form-control" formControlName="time_lb" placeholder="Lower bound time limit to allow network connection e.g. 00:00"/>
                        </div>
                        <hr style="border-width:1px">
                        <div class="form-group">
                            <div class="col-12">
                              <div class="row">
                              <label>Allow HTTP requests</label>
                              <label class="switch">
                                <input type="checkbox" (change)="toggleVisibility($event)" class="form-control" formControlName="http_req" checked/>
                                <span class="slider round"></span>
                              </label>
                              </div>
                            </div>
                        </div>
                        <hr style="border-width:1px">
                        <div class="form-group">
                            <div class="col-12">
                              <div class="row">
                              <label>Allow HTTP response</label>
                              <label class="switch">
                                <input type="checkbox" (change)="toggleVisibility($event)" class="form-control" formControlName="http_resp" checked/>
                                <span class="slider round"></span>
                              </label>
                              </div>
                            </div>
                        </div>
                        <!-- Server Log Monjtor -->
                        <hr style="border-width:2px">
                        <div class="form-group">
                            <div class="col-12">
                              <div class="row">
                                <h1 class="card-title">Server Log Monitor</h1>
                              <label class="switch">
                                <input type="checkbox" (change)="toggleVisibility($event)" class="form-control" formControlName="server_log" checked/>
                                <span class="slider round"></span>
                              </label>
                              </div>
                            </div>
                          </div>
                          <h3 class="card-subtitle">Configure Server Log Monitor</h3>
                          <div class="form-group">
                              <label>Web server type</label>
                              <input type="text" class="form-control" formControlName="log_type" placeholder="Server name e.g. apache, nginx"/>
                          </div>
                          <div class="form-group">
                              <label>Log file path</label>
                              <input type="text" class="form-control" formControlName="log_file" placeholder="Path of the log file, leave blank to auto-detect"/>
                          </div>
                          <div class="form-group">
                              <label>Monitor window</label>
                              <input type="text" class="form-control" formControlName="window" placeholder="Days old log to process e.g. 30"/>
                          </div>
                          <div class="form-group">
                              <label>List of IPs to look for</label>
                              <input type="text" class="form-control" formControlName="ip_list" placeholder="Specific IPs in log file to generate report for e.g. 1.1.1.1, 2.2.2.2"/>
                          </div>
                          <div class="form-group">
                              <label>List of status code to look for</label>
                              <input type="text" class="form-control" formControlName="status_code" placeholder="List of status code to grab from log file e.g. 200, 404"/>
                          </div>
                      <br>
                    <button type="submit" class="btn btn-primary m-b-10 pull-right" >Secure</button>
                </form>
                <div class="error">
                    {{ error }}
                </div>
              </div>
              <div id="stopForm">
                  <button (click)="Stop()" class="btn btn-primary m-b-10 pull-right">Stop</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
