<div id="main-wrapper">
  	<div class="header">
      	<app-header></app-header>
  	</div>
  	<app-sidebar></app-sidebar>
  	<div class="page-wrapper">
      	<div class="row page-titles pt-2 pb-1 mb-1">
          	<div class="col-md-5 align-self-center">
				  <h1 class="text-primary head-1">Processes</h1>
			</div>
          	<div class="col-md-7 align-self-center">
              	<ol class="breadcrumb">
                  	<li class="breadcrumb-item"><a href='/dashboard'>Home</a></li>
                  	<li class="breadcrumb-item active">Process</li>
              	</ol>
          	</div>
      	</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<h2 class="card-title">Processes</h2>
							<h3 class="card-subtitle">Current process</h3>
							<div class="table-responsive m-t-10">
								<app-table></app-table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<app-footer></app-footer>
	</div>
</div>
			