/* Scroll bar style */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgb(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
    border-radius: 20px;
    border: 1px solid transparent;
    background-clip: content-box;
}

/* End Scroll bar style */

.profile img {
    height: auto;
    width: 100%;
    border-radius: 50%;
}

.profile {
    height: auto;
    width: 50px;
}

.card-stats {
    font-size: 18px;
}

.card-stats p {
    font-size: 14px;
    line-height: 1.5;
}

.cardicon {
    margin-bottom: 20px;
}

.table-scroll {
    overflow-x: scroll;
}
.securetea{
    font-size: 20px;
    font-weight: 700;
}
.text-bold {
    font-weight: 700 !important;
}

.signin-bg {
    background: url(../img/signin-bg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.card {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 0.75rem;
}

.bg-gradient-info {
    background-image: linear-gradient(195deg, #49a3f1 0%, #1A73E8 100%);
}

.shadow-info {
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(0 188 212 / 40%) !important;
}

.pe-1 {
    padding-right: 0.25rem !important;
}

.border-radius-lg {
    border-radius: 0.5rem;
}

.font-weight-bolder {
    font-weight: 700 !important;
}

.text-white {
    color: #fff !important;
}

.text-center {
    text-align: center !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mt-2 {
    margin-top: 0.5rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.card .card-body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    padding: 1.5rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.input-group.input-group-outline .form-control {
    background: none;
    border: 1px solid #d2d6da;
    border-radius: 0.375rem;
    border-top-left-radius: 0.375rem !important;
    border-bottom-left-radius: 0.375rem !important;
    padding: 0.625rem 0.75rem !important;
    line-height: 1.3 !important;
}

.input-group>.form-control,
.input-group>.form-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}
.input-group{
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 0;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #495057;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #d2d6da;
    appearance: none;
    border-radius: 0.375rem;
    transition: 0.2s ease;
}

.signin-btn button {
    outline: none;
    border: none;
    border-radius: 10px;
}

.table-scroll{
    overflow-x: hidden !important;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 12px 8px;
    vertical-align: middle;
    min-width: 50px;
}

@media screen and (max-width: 768px) {
    .table-scroll tr td, .table-scroll th td {        
        min-width: 120px !important;
    }
}
