<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />

<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-light fixed-top custom-navbar bg-white">
    <div style="display: flex; justify-content: space-between; width: 100%">
    <div>
    <a class="navbar-brand" href="/dashboard">
        <b><img src="../assets/images/logo.png" alt="homepage"  /></b>
        <span><img src="../assets/images/logo-text.png" alt="homepage" class="logo-text" /></span>
    </a>
</div>
    
    <div class="navbar-collapse" style="margin-left: 77%;">
        <ul class="navbar-nav">
            <li class="nav-item dropdown ">
                <div class="username">{{ username | titlecase}}</div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-muted" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"><img src="../../assets/images/users/5.png" alt="user"
                        class="profile-pic" /></a>
            </li>
        </ul>
    </div>
    </div>
  </nav>